<%- myCss.style %>

<h1>Prijava</h1>
<% if (messages.error) { %> <%= messages.error %> <%} %>

<div class="form">
  <form class="register-form" method="POST" action="/login">
    <input
      type="text"
      name="text"
      id="name"
      placeholder="vnesi uporabniško ime"
      required
    />
    <input
      type="password"
      name="password"
      id="password"
      placeholder="vnesi geslo"
      required
    />
    <input
      type="email"
      name="email"
      id="email"
      placeholder="vnesi svoj email naslov"
      required
    />
    <button type="submit">Prijava</button>
    <p class="msg">
      Še niste registrirani? <a href="/register">Registracija</a>
    </p>
  </form>
</div>
