<h1>Registracija</h1>

<div class="form">
  <form class="register-form" method="POST" action="/register">
    <input type="text" name="text" id="name" placeholder="vnesi uporabniško ime" required>
    <input type="password" name="password" id="password" placeholder="vnesi geslo" required>
    <input type="email" name="email" id="email" placeholder="vnesi svoj email naslov" required>
    <button type="submit">Ustvari</button>
    <p class="msg">Ste že registrirani? <a href="/login">Prijava</a> </p>
  </form>
</div>


<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<link rel="stylesheet" href="/public/assets/login_style.css">
<title>Registracija uporabnika</title>
<h1>Registracija</h1>

<body>

  <div class="login-page">
    <div class="form">
      <form class="register-form" action='/register' method="POST">
      
        <input type="text" name="text" id="name" placeholder="vnesi uporabniško ime" required>
        <input type="password" name="password" id="password" placeholder="vnesi geslo" required>
        <input type="email" name="email" id="email" placeholder="vnesi svoj email naslov" required>
        <button type="submit">Ustvari</button>
        <p class="msg">Ste že registrirani? <a href="#" target="_blank">Prijava</a> </p>
      </form>
    </div>
  </div>



  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/jquery-3.3.1.min.js"></script>
</body> -->